body {
	width : 77em;
    margin : 0 auto;
	font-family : Verdana, Helvetica, Serif;
    background-color : #FFDEBD;
    color : black;
	/* background-image : url(../img/); */
}

#banner {
	background-color : #6B8FB2;
	color : black;
	padding : 3em 0 1em 0;
}

#zitat {
	font-style: italic;
	font-size: 0.7em;
}

h1, th {
	font-size : 1.1em;
	text-align : center;
}

table {
	border-collapse : collapse;
	table-layout : inherit;
	text-align : center;
	background-color : #708090;
	color : black;
	width : auto;
}

th, td {
	border : white solid 0.3em;
}

#einleitung {
	background-color : #99CCFF;
	color : black;
	padding : 0.1em 0.7em 0.1em 0.7em;
}

#tabelle {
	border : #6495ED solid 0.3em;
	color : black;
	background-color : #BCD2EE;
}
	
/*
	#einleitung, #tabelle, #banner, #footer {
 		border-radius : 0.5em; 
	}
*/

th {
	padding : 0.5em;
	color : white;
	background-color : #B0C4DE;
}

td {
	height : 1em;
	background-color : #B0C4DE;
	color : black;
	text-align : left;
	padding : 0.3em;
	/* white-space : nowrap; */
}

tbody td:first-child {
	background-color : #6495ED;
	color : black;
	text-align : center;
}

thead th:first-child, tbody td:first-child {
	display : none;
}

tbody td:first-child + td {
	text-align : center;
}

tr:hover td {
	background-color : #DCDCDC;
	color : black;
}

#footer {
	background-color : #6B8FB2;
	color : black;
	padding : 0.2em 0 0.2em 0;
	text-align : right;
}

#footer p {
	display : inline;
	padding-right : 0.3em;
	color : white;
	background-color : #B0C4DE;
	
}

p.valid {
	border : 0;
	width : 5.5em;
	height : 2em;
}

p.valid:link {
	text-decoration : none;
}

p.valid:visited {
	text-decoration : none;
}